<div class="container justify-content-center pt-5 mt-5 mb-4">
  <div class="container-title banner-flex text-center justify-content-center pt-3 pb-2">
    <h1>Soins</h1>

  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">


    <div class="soin-cards">

      <div class="col-12 col-lg-12">

        <div class="soin-card text-center">

            <div class="soin-card-body">

              <h2 class="card-title">Bilans bioénergétiques Acmos</h2>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px' %>
              <h3 class="card-text-question">Indications thérapeutiques</h3>
                <p>Vous êtes fatigués, stressés, déprimés ou avez des maux physiques comme des maux de dos, migraines.. ?
                <br><br>Votre enfant est fatigué, anxieux, a du mal à se concentrer, à s'endormir, à trouver de la motivation ?
                <br><br> <strong>Synergie</strong> entre la <strong>médecine traditionnelle</strong> et la <strong>médecine quantique</strong>.
                <br><br> S'adresse aux enfants<sup>*</sup> et aux adultes.
              </p>

              <h3 class="card-text-question">Mécanisme d'action </h3>
                <p>La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion. </p>
                <p>Aujourd'hui, la médecine contemporaine s'attache à régler les désordres indiqués et confirmés par les analyses scientifiques (radiologie, IRM, chimie etc...). Ces indications, issues du corps, sont d'ordre essentiellement symptomatiques.

                <br><br>La Méthode Acmos <strong>ne s'arrête pas aux symptômes</strong> qui ne sont que de simples indicateurs de désordres provoqués
              par un problème plus profond.
              Elle s'attachera plutôt à <strong>détecter la cause afin de la corriger</strong>, en se basant sur des découvertes issues de la médecine quantique.

              <h3 class="card-text-question mb-0 pb-0">Schéma thérapeutique<h3>
                 <p><br><br>Souvent notre corps a engrammé une façon de fonctionner avec différents blocages.
                  <br><br>La majorité des personnes qui consultent ont <strong>2 à 3 soins</strong> rapprochés <strong>en 6 mois</strong>.
                  <br><br>Puis, pour être dans un mode <strong>préventif</strong> en <strong>maintenant un équilibre énergétique optimal</strong> et que notre corps ne soit pas impacté par les perturbateurs énergétiques (travail, stress, contexte familial, couple, situation écnomique, pandémie),

                   il est recommandé de réaliser un suivi saisonnier - <strong>1 consultation par saison</strong>.
                <br><br>Ce schéma thérapeutique est <strong>indicatif</strong>. Chaque individu a ses propres besoins.

                <br><br>En pratique : le premier soin peut être réalisé au <strong>cabinet ou à distance</strong>.
                Souvent, les soins suivants sont réalisés <strong>à distance</strong>.</p>

            </div>

            <h3 class="card-text-question  pb-0">Durée <h3>
              <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> 1h</button>

            <h3 class="card-text-question mb-4 pb-0">Tarif<h3>
              <div class = "container justify-content-center mt-4 mb-0">
                <button disabled class="button-soin mb-3 ">Adulte <i class="fas fa-coins ml-2 mr-2"></i> 150 CHF <br><br> Enfant <i class="fas fa-coins ml-2 mr-2"></i> 120 CHF</button>
              </div>

              <div class = "container justify-content-center mb-2 mt-4">
                <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to " En savoir plus sur la méthode Acmos", bioenergie_path %> </button>
                <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Découvrez nos soins à distance", soins_a_distance_path %> </button>
                <button class="button-en-savoir-plus mb-3 "><%= link_to " Prendre rendez-vous", contact_path %> </button>
              </div>

            <p><sup>*</sup>Les soins chez les enfants se font uniquement avec la présence d'un parent.</p>

      </div>
    </div>


    <div class="soin-cards">
        <div class="col-12 col-lg-12 ">
          <div class="soin-card" style="border:none;">
            <div class="soin-card-body">
              <h2 class="card-title text-center pb-0">Déroulement du soin </h2>

              <p class="card-text-question pt-2 pb-0 mb-0">Avant le soin :
                <ul class =" ml-2 mt-2"></ul>
                  <li class="ml-4 retour-ligne-list ">le jour précédent le bilan : ne pas boire d'alcool et privilégier une alimentation légère</li>
                  <li class="ml-4 retour-ligne-list" >pour le soin, mettre des vêtements confortables</li>
                  <li class="ml-4 retour-ligne-list">venir avec vos médicaments et <strong>compléments alimentaires</strong> que vous prenez usuellement afin de tester la compatibilité énergétique et définir un éventuel compensateur énergétique</li></p>
              <p class="card-text-question pt-2 pb-0 mb-0">Pendant le soin :
                <ul class ="ml-2 mt-4 "></ul>
                  <li class="ml-4 retour-ligne-list">durée : 1h - profitez de ce moment pour vous détendre </li>
                  <li class="ml-4 retour-ligne-list">une première partie est dédiée à <strong>l'anamnèse</strong> (échange sur les symptômes), puis le soin se déroule sur une table de soin où les <strong>mesures et transferts énergétiques</strong> sont réalisés</li></p>
              <p class="card-text-question pt-2 pb-0 mb-0">Après le soin :
                <ul class ="ml-2 mt-4"></ul>
                  <li class="ml-4 retour-ligne-list">félicitations! Après le soin, 60% du travail est réalisé.</li>
                  <li class="ml-4 retour-ligne-list">à partir de maintenant, pour finaliser le traitement, les <strong>40 % restants</strong>, il vous faut prendre ce que votre corps a demandé durant le soin </li>
                  <li class="ml-4 retour-ligne-list">pour ce faire, une <strong>fiche de suivi</strong> vous est délivrée afin de savoir quel(s) produit(s) votre corps a demandé lors du soin </li>
                  <li class="ml-4 retour-ligne-list">durant les 24h qui suivent le soin: bien s'hydrater, ne pas boire d'alcool et privilégier une alimentation légère</li>


              <p class="card-text-question pt-2 pb-0 mb-2">Où trouver les produits :
                  <p class="acmos-link" >Les oligoéléments et homéopathies peuvent être à acheter dans <strong>la pharmacie</strong> de votre village, quartier
                    <br>D'autres produits se commandent auprès d'<strong>Acmos-sbj</strong> : <a href="https://www.acmos-sbj.com/phytotherapie-_l_FR_r_53.html" target="_blank"> phytothérapie</a>, <a href="https://www.acmos-sbj.com/filtres-de-couleur-_l_FR_r_49.html" target="_blank"> <strong>chromothérapie</strong></a>, <a href="https://www.acmos-sbj.com/mineraux-_l_FR_r_52_va_1.html" target="_blank"> minéraux</a>, <a href="https://www.acmos-sbj.com/complexes-saisonniers-_l_FR_r_69.html" target="_blank">complexes saisonniers</a> ainsi que  <a href="https://www.acmos-sbj.com/huiles-essentielles-_l_FR_r_48.html" target="_blank">huiles essentielles</a>. </p>


              </p>
            </div>
          </div>
        </div>
  </div>
</div>


<!-- code  soins 2ème ligne  -->



<div class="container mb-2">
  <div class="row justify-content-center">
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text pt-0">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement médical. Aucune modification de votre traitement ne sera réalisée.
              <br><br> Dans le cadre du covid-19, dans la mesure où les soins à distance ont la même efficacité que les soins sur place, les soins à distance sont privilégiés.</h4>
          </div>


      </div>
    </div>
  </div>
</div>
