<div class="container mb-5 mt-5">
    <h1>Soins pour vous, votre enfant, votre animal</h1>
    <h3>Faites rayonner votre santé</h3>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">
    <h3>Pour vous</h3>
    <div class="cards">

      <div class="col-12 col-lg-6">
        <div class="card text-center">

          <img src="images/cabinet.jpeg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">Soin bioénergétique Acmos</h5>
              <p class="card-text">La Méthode ACMOS a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétique afin qu'il retrouve sa capacité d'autogestion et ce, dès le premier bilan.
                <br> <br>Elle met en œuvre un protocole rigoureux d'investigation et s'appuie continuellement sur la mesure scientifique. Celle-ci est effectuée au moyen d'un appareillage sophistiqué, fruit de longues années de recherche et de mise au point.
                <br><br>Des médecins et des spécialistes du monde entier ont collaboré à ces travaux.
La spécificité de cette Méthode est qu'elle agit dans le profond.</p>
              <p>Tarif : 150CHF </p>
              <p>Durée de la séance : 1h30</p>
            </div>
            <div class = container>
              <button class="button mb-3 mr-5" type="submit"><%= link_to "Je réserve", contact_path %></button>
              <button class="button mb-3 mr-5" type="submit"><%= link_to "En savoir plus", contact_path %></button>
            </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Soin à distance</h5>
            <p class="card-text">Notre corps matiere est géré par notre corps énergétique. Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.</p>
            <p>Tarif : 150CHF </p>
            <p>Durée de la séance : 1h30</p>
          </div>
        </div>
      </div>


      <div class="col-12 col-lg-6">
        <div class="card text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bain sonore thérapeutique</h5>
            <p class="card-text">Votre corps est traversé d'ondes émanant des bols tibétains, permettant de réharmoniser votre état vibratoire de manière rapide.</p>
            <p>Tarif : 50CHF </p>
            <p>Durée de la séance : 30 min</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- code  soins 2ème ligne  -->
<div class="row justify-content-center">
  <h3>Pour votre enfant</h3>
  <div class="col-12 col-lg-6">
        <div class="card text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Coaching</h5>
            <p class="card-text">Le life coach ou coach de vie aide le coaché à créer un véritable projet de
vie, tenant compte d’un équilibre entre vie professionnelle et personnelle.
<br><br>Le coaching personnel ou coaching de vie est une approche holistique de
la personne où le client est un sujet libre et responsable. Il est capable de
comprendre ses problèmes, de déterminer et d’utiliser ses valeurs et ses
aspirations profondes.
<br><br>Le coach l’aide à définir ses propres objectifs et l’incite
à aller vers leur réalisation concrète.
<br><br>Le coaching personnel et le coaching de
vie sont des approches novatrices.</p>
            <p>Tarif : 50CHF / 30 min </p>
            <p>Durée de la séance entre 1h et 1h30 </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="card text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Coach d'entreprises</h5>
            <p class="card-text">Le coach d'entreprises propose une méthodologie très pragmatique pour atteindre les objectifs professionnels et personnels des managers, des équipes et des dirigeants.
<br><br>
Au cours de ses interventions régulières, le Coach d’entreprises, véritable accompagnateur du changement,
va aider son client à prendre conscience du potentiel inexploité qu’il possède pour ensuite lui apporter des
outils et méthodes très concrètes.
<br><br>Avec une boîte à outils très riche, il va aider à mettre en place des plans d’actions
structurés et pérennes.</p>
            <p>Tarif : 150CHF / 30 min </p>
            <p>Durée de la séance entre 1h et 1h30 </p>
          </div>
        </div>
      </div>
</div>

<!-- code  soins 3ème ligne -->
<div class="row justify-content-center mt-5">
  <h3>Pour votre animal de compagnie</h3>
  <div class="cards">
    <div class="col-12 col-lg-12">
      <div class="card text-center">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soin sur les animaux</h5>
          <p class="card-text">Le corps matiere de votre animal est géré par son corps énergétique. Ce dernier l'informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.</p>
          <p>Tarif : 100CHF </p>
          <p>Durée de la séance : 1h00</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <% @soins.each do |soin| %>
    <h2><% soin.name %></h2>
    <h2><% soin.description %></h2>
    <h2><% soin.tarif %></h2>
    <h2><% soin.temoignages %></h2>
    <%= link_to "Allez voir ce soin", soin_path(soin) %>
  <% end %>
</div>
