<div class="container"><h1>A propos des therapies combinées</h1></div>

<h2>Votre therapeute</h2>
<h2>Une approche scientifique et énergétique.</h2>
<p>Georgina a depuis sa tendre enfance était sensible à tout ce qui l'entourait. Elle a toujours voulu soigner les personnes et les animaux.
Pour ce faire, elle a tout d'abord suivi un cursus scientifique dans la pharmacie avec l'obtention de son Doctorat en Pharmacie en 2012.
Elle occupera des postes orientés conseils des patients dans des officines (pharmacies de ville).
Puis des fonctions orientées assurance qualité et communication sur les médicaments dans les hôpitaux et industries pharmaceutiques tant dans la santé humaine que dans la santé animale.
En parallèle de cela, des expériences de vie chevauchent son chemin et lui éveil ces capacités de récepteur énergétiques qu'elle avait depuis son plus jeune âge. Elle pouvait soulager des maux à distance.
Une lumière, une évidence, un éprise de conscience l'envahit. Elle devait en faire profiter les gens pour les aider à ce qu'ils retrouvent leur faculté d'autogestion de leur santé.</p>


<p> Contact</p>
<%= link_to "Contact", contact_path %>



