<div class="container justify-content-center mb-5 mt-5">
  <h1>Votre thérapeute</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="big-cards">

      <div class="col-12 col-lg-12">
        <div class="big-card text-center">
              <div class="big-card-body">
              <h2 class="card-title">Une approche scientifique et énergétique.</h2>
              <h3 class="card-text"><p>Docteur en pharmacie et Bioénergéticienne</h3>
              <p class ="mt-5">J'ai depuis ma tendre enfance était sensible à tout ce qui m'entourait.
                <br>J'ai toujours voulu soigner les personnes et les animaux.
                <br>
                ***
<br>
Pour ce faire, cartésienne, j'ai tout d'abord suivi un cursus scientifique dans la pharmacie avec l'obtention de <br> mon Doctorat en Pharmacie en 2012.
<br> <br>
J'ai tout d'abord travaillé dans des officines, pharmacies de ville, où j'apportais des conseils sur l'observance thérapeutique auprès des patients.
Puis, j'ai exercé dans les hôpitaux et industries pharmaceutiques tant dans la santé humaine que dans la santé animale où je m'assurais de la qualité des médicaments fabriqués ainsi que de la surveillance des effets indésirables.
<br><br>

***
<br>
En parallèle de cela, des expériences de vie chevauchent mon chemin et éveillent mes capacités de récepteur énergétique que j'avais depuis mon plus jeune âge. Je pouvais soulager des maux à distance.
<br><br>
Une lumière, une évidence, une prise de conscience m'envahit.
<br><br>
***
<br>
Ma mision de vie est alors limpide :
<br>
permettre aux gens de les aider à retrouver leurs facultés d'autogestion de leur santé.</p>
</p>

***
<br>
<p>J'obtins le Diplôme international de bioénergéticienne et reçus des enseignements de thérapeutes et guérisseurs.</p>

***
<br>
<p>Je suis pleine de gratitude des remerciements des patients qui me consultent :
  <br><br>
      - sur des pathologies où la médecine traditionnelle seule n'a pas forcément de solution,
      <br>
      - situés en Suisse mais aussi à l'étranger via les soins à distance.
      <br>
      <br>
      </p>
<h6>* Les soins ne remplacent pas un suivi médical et ne se substituent pas non plus à un traitement prescrit par un médecin. </h6>

              </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class = "container justify-content-center">
  <button class="button mt-3 mb-4" type="submit"><%= link_to "Contact", contact_path %></button>
</div>




