<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center pt-3 pb-2">
    <h1>Soins sur les animaux<br>  </h1>

  </div>
</div>

<div class="container  ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour votre animal de compagnie</h2>
    </div>
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Chiens, chats, chevaux</h2>
            <%= image_tag 'animaux.jpeg', height: '150px' %>
            <p class="mt-3 card-text">De même que pour l'être humain la méthode bioénergétique Acmos est utilisée pour le soin sur votre animal.
            </p>

            <h3 class="card-text-question">Indications thérapeutiques</h3>
              <p>En cas de <strong>problème ponctuel, voire aigu,</strong> le soin donne sa pleine mesure dans une action de rétablir l'équilibre énergétique global afin de remettre en état les facultés d'auto-réparation de l'organisme.
              <br><br>Le soin chez l'animal, comme pour chez l'homme, est là pour lui permettre de retrouver ses capacités d'autogestion.
              <br><br> Recommandé pour les chiens, chats et chevaux.
              </p>

              <h3 class="card-text-question">Mécanisme d'action </h3>
                <p>Le soin repose sur le principe de base de la <strong>physique et résonance quantiques</strong> :
                <br>le corps matière de votre animal est géré par notre corps énergétique.
                Ce dernier l'informe, par les champs énergétiques, des problèmes que lui pose son corps matière dans sa dimension physique et psychique.
                <br> <br>L'<strong>information cellulaire</strong> se propage par <strong>phénomène de résonance</strong> à l'intérieur et à l'extérieur du corps de l'animal.
                    L'information se déplaçant sous forme d'ondes n'est assujettie ni au temps ni à l'espace. Elle peut être transférée <strong>instantanément à n'importe quelle distance.</strong>
                <br><br>De même que le soin sur place, le soin à distance repose sur le principe de biorésonance et l'antenne de Lecher est utilisé pour la reception et l'émission des champs énergétiques. En fonction des priorités de son corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.
                <br><br>Ce soin agit également dans le profond, au niveau du champ centripète, siège de la <strong>cause du symptôme</strong> de votre animal.
                <br><br>
                La méthode Acmos permet de capter les informations qui sont en permanence disponibles et présentes,
                peu importe l'endroit où se trouve l'animal afin d'établir son bilan énergétique et de <strong>restaurer son équilibre global</strong>.
                <br><br> L'accès à ses informations par le biais de la méthode permet :
                  <ul>
                    <li class= " retour-ligne-list">d'apporter des <strong>corrections</strong> ou de prendre des dispositions nécessaires au rétablissement de l'équilibre,</li>
                    <li class= " retour-ligne-list">de mettre des <strong>protections contre les agressions</strong> de l'environnement, géobiologiques, ambiantes, écologiques, autres animaux...</li>
                    <li class= "retour-ligne-list">et de <strong>débloquer des situations</strong>
                  </ul>
              <h3 class="card-text-question mb-0 pb-0">Schéma thérapeutique<h3>
                 <p><br><br>Souvent le corps de l'animal a engrammé une façon de fonctionner avec différents blocages.
                  <br><br>La majorité des animaux qui consultent ont <strong>2 à 3 soins</strong> rapprochés en 6 mois. Par la suite, en général, un suivi 1 à 2 fois par an est suffisant pour maintenir l'équilibre énergétique et être dans la prévention.
                <br><br>Ce schéma thérapeutique est <strong>indicatif</strong>. Chaque animal a ses propres besoins.

                </p>
          </div>
          <h3 class="card-text-question  pb-0">Durée <h3>
              <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> 1h15</button>

          <h3 class="card-text-question mb-4 pb-0">Tarif<h3>
            <div class = "container justify-content-center mt-4 mb-0">
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            </div>
          <div class = "container justify-content-center mb-2 mt-4">
              <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to " En savoir plus sur la méthode Acmos", bioenergie_path %> </button>
              <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
          </div>
        </div>

      </div>

       <div class="soin-cards">
        <div class="col-12 col-lg-12 ">
          <div class="soin-card" style="border:none;">
            <div class="soin-card-body">
              <h2 class="card-title text-center pb-0">Déroulement du soin </h2>

              <p class="card-text-question pt-2 pb-0 mb-0">Avant le soin, nous avons besoin :
                <ul class =" ml-2 mt-2"></ul>
                  <li class="ml-4 retour-ligne-list ">d'une <strong>photo</strong> de votre animal <strong>en entier </strong></li>
                  <li class="ml-4 retour-ligne-list" >de sa <strong>date de naissance, son prénom </strong>, <strong>type d'animal</strong>, race, la <strong>ville/pays</strong> où il se trouve lors du soin</li>
              </p>
              <p class="card-text-question pt-2 pb-0 mb-0">Pendant le soin :
                <ul class ="ml-2 mt-4 "></ul>
                  <li class="ml-4 retour-ligne-list">durée : 1h - l'animal doit être au calme </li>
                  <li class="ml-4 retour-ligne-list">par exemple, <strong>ne pas être monter son cheval durant le soin</strong> </li></p>
              <p class="card-text-question pt-2 pb-0 mb-0">Après le soin :
                <ul class ="ml-2 mt-4"></ul>
                  <li class="ml-4 retour-ligne-list">durée : 10 minutes - explication par téléphone<sup>*</sup> des points travaillés pendant le soin.</li>

                  <li class="ml-4 retour-ligne-list">pour finaliser le traitement, en fonction des besoins de votre animal, il devra potentiellement prendre des produits (homéopathie le plus souvent) </li>
                  <li class="ml-4 retour-ligne-list">pour ce faire, une fiche de suivi vous est délivrée. </li>

              <p class="mt-1" style="text-align: left"><sup>*</sup>Pour les soins internationaux, seul whatsapp et signal sont utilisés.

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container  ">
  <div class="row justify-content-center mt-0 pt-0">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour tout autre animal</h2>
    </div>
    <div class="soin-cards ">
      <%= link_to contact_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card-contact text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Nous contacter </h2>

            <p class="mt-3 card-text">De même que pour les autres animaux, la base du soin se déroule de manière identique afin que votre animal retrouve ses capacités d'autogestion.
              <br><br>Pour répondre au mieux à votre demande, pour les <strong>vaches, moutons, chèvres</strong> ... merci de nous contacter afin de vous proposer une solution adaptée.</p>
          </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text pt-0">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement vétérinaire.
            </h4>
          </div>


      </div>
    </div>
  </div>
</div>
