<div class="container justify-content-center  mt-5">
  <div class="container-title justify-content-center text-center" >
    <h1 style="font-size: 30px">Renseignements <br>&<br> Rendez-vous</h1>
  </div>
</div>

<br>

<div class=" prez-form mb-5 mr-5 ml-5 ">

  <div class="soin-card text-center pt-1" style="border-style:none; box-shadow:none">
    <div class="soin-card-body ">
      <p class= "card-text">Pour tout renseignement ou prise de rendez-vous, vous pouvez joindre le cabinet : </p>
    </div>
  </div>


  <div class="soin-card pt-1">
    <div class="soin-card-body">
      <p class= "card-text">Par téléphone / message whatsapp :
        <br>
        <ul class = "text-center ul-contact">+ 41 76 69 06 802</ul>
        <br>Vous pouvez appeler ou laisser un message écrit ou vocal.
        <br><br>Merci de préciser dans votre message :
        <ul>
          <li class= "mt-2 mb-2">votre nom, prénom, numéro de téléphone (avec l'indicatif téléphonique de votre pays) et votre message. </li>
          <li class= "mb-2">à noter : seul whatsapp est utilisé - appel international.</li>
          <li class= "mb-2">nous ne sommes pas toute la journée sur le smartphone, nous répondrons à votre message au plus vite.</li>
        </ul>
      </p>
    </div>
  </div>


  <div class="soin-card pt-1">
    <div class="soin-card-body">
      <p class= "card-text"> Ou par e-mail :
        <br>
        <ul class = "text-center ul-contact">info@energies-et-guerison.com</ul>

        <br>Merci de préciser dans votre message :
          <li class= "ml-4 mt-2 mb-2">votre nom, prénom, numéro de téléphone (avec l'indicatif téléphonique de votre pays) et votre message. </li>
          <li class= "ml-4 mb-2">nous ne sommes pas toute la journée sur l'ordinateur, nous vous répondrons à votre message au plus vite.</li>
      </p>
    </div>
  </div>


  <div class="container  ">
    <div class="row justify-content-center mt-0">
      <div class="sous-titre mt-3">
      <h2><i class="fas fa-feather-alt ml-5 mr-3"></i>En pratique</h2>
      </div>


      <div class="soin-cards">
        <div class="col-12 col-lg-12 ">
          <div class="soin-card" style="border:none;">
            <div class="soin-card-body">
              <h2 class="card-title text-center pb-0">Soin à distance </h2>

              <p class="card-text-question pt-0">Déroulement du soin
                <ul class =" ml-2 mt-2 mb-2">Avant le soin, nous avons besoin :</ul>
                  <li class="ml-4">d'une photo de la personne ou de l'animal </li>
                  <li class="ml-4" >de sa date de naissance, son prénom et nom (nom de jeune fille), <br> la ville/pays où elle se trouve lors du soin</li>
                <ul class ="ml-2 mt-4 mb-2">Pendant le soin :</ul>
                  <li class="ml-4">profitez de ce moment pour vous détendre, lisez un livre, cuisinez, reposez-vous - durée : 1h. </li>
                  <li class="ml-4">ne pas travailler, ni faire de sport, ni être sur le smartphone ou devant un film. </li>
                <ul class ="ml-2 mt-4 mb-2">Après le soin :</ul>
                  <li class="ml-4"> explication par téléphone des points travaillés pendant le soin et de ceux à travailler -  durée : 10 minutes.</li>
                  <li class="ml-4">A noter : seul whatsapp est utilisé - appel à l'international. </li>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="soin-cards ">
        <%= link_to soins_path, :action => 'go' do %>
        <div class="col-12 col-lg-12 ">
          <div class="soin-card text-center">

            <div class="soin-card-body">
              <h2 class="card-title pb-3">Soin au cabinet </h2>
              <p class=" card-text pt-2"> Place de parc privée à disposition devant le cabinet.
                <br><br> Pour le soin, prendre les médicaments, compléments alimentaires que vous prenez usuellement.
                <br><br> Prévoir des vêtements confortables.
              </p>

              <p class="text-center pt-3">
                <a href="https://www.google.ch/maps/place/Saint-Prex/@46.4659738,6.4385357,13z/data=!3m1!4b1!4m5!3m4!1s0x478c39b501ea0fe1:0xdc0de6e932131cda!8m2!3d46.4829113!4d6.4583435 ">Saint-Prex, Vaud, Suisse</a>
              </p>


            </div>
          </div>
        <% end %>
      </div>
      </div>

    </div>
  </div>
</div>

<div class="container ">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">
      <div class="col-12 col-lg-12 ">
          <div class="soin-card-body">
            <h4 class=" card-text">Toutes les données transmises par l’utilisateur sont traitées conformément aux dispositions de la loi fédérale sur la protection des données (LPD).
            </h4>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- test nouvelle mise en page -->
<div class="container">
  <div class="row justify-content-center">
    <div class="big-cards">

       <div class="col-12 col-lg-12">
        <div class="big-card text-center">
          <div class="big-card-body">

            <!-- reprise de contact -->

                <p class= "card-text">Par téléphone / message whatsapp :
                  <br>
                  <ul class = "text-center ul-contact">+ 41 76 69 06 802</ul>
                  <br>Vous pouvez appeler ou laisser un message écrit ou vocal.
                  <br><br>Merci de préciser dans votre message :
                  <ul>
                    <li class= "mt-2 mb-2">votre nom, prénom, numéro de téléphone (avec l'indicatif téléphonique de votre pays) et votre message. </li>
                    <li class= "mb-2">à noter : seul whatsapp est utilisé - appel international.</li>
                    <li class= "mb-2">nous ne sommes pas toute la journée sur le smartphone, nous répondrons à votre message au plus vite.</li>
                  </ul>
                </p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>




