<div class="container justify-content-center  mt-5">
  <div class="container-title justify-content-center text-center" >
    <h1 style="font-size: 30px">Renseignements <br>&<br> Rendez-vous</h1>
  </div>
</div>

<br>


<div class="container">
  <div class="row justify-content-center">

      <div class="soin-card text-center pt-1" style="border-style:none; box-shadow:none">
        <div class="soin-card-body ">
          <p class= "card-text">Pour tout renseignement ou prise de rendez-vous, vous pouvez joindre le cabinet : </p>
        </div>
      </div>

       <div class="col-12 col-lg-12">
        <div class="big-card text-center">
            <p class= "card-text">Par téléphone ou message whatsapp/signal :</p>
              <br>
              <ul class = "text-center ul-contact">+ 41 76 69 06 802</ul>
              <p class="mt-4" style="text-align: left">Vous pouvez appeler ou laisser un message écrit ou vocal.
              <br><br>Merci de préciser dans votre message :</p>
              <ul>
                <li class= "mt-2 mb-2 retour-ligne-list">votre nom, prénom, numéro de téléphone (avec l'indicatif téléphonique de votre pays) et votre message. </li>
                <li class= "mb-2 retour-ligne-list">à noter : seul whatsapp /signal est utilisé - appel international.</li>
                <li class= "mb-2 retour-ligne-list">pour les soins internationaux, les soins sont réalisés sur le fuseau horaire Suisse.</li>
                <li class= "mb-2 retour-ligne-list">nous répondrons à votre message au plus vite.</li>
              </ul>
            </p>
        </div>
      </div>

      <div class="col-12 col-lg-12 pt-2">
        <div class="big-card text-center">
            <p class= "card-text"> Ou par e-mail :</p>

              <ul class = "text-center ul-contact">info@energies-et-guerison.com</ul>

              <p style="text-align: left">Merci de préciser dans votre message :</p>
                <li class= "ml-4 mt-2 mb-2 retour-ligne-list">votre nom, prénom, numéro de téléphone (avec l'indicatif téléphonique de votre pays) et votre message. </li>
                <li class= "ml-4 mb-2 retour-ligne-list">nous répondrons à votre message au plus vite.</li>
            </p>
        </div>
      </div>

  </div>
</div>



<div class="container ">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">
      <div class="col-12 col-lg-12 ">
          <div class="soin-card-body">
            <h4 class=" card-text">Toutes les données transmises par l’utilisateur sont traitées conformément aux dispositions de la loi fédérale sur la protection des données (LPD).
            </h4>
          </div>
      </div>
    </div>
  </div>
</div>






