<div class="container justify-content-center  mt-5">
  <div class="container-title justify-content-center text-center" >
    <h1 style="font-size: 30px">Renseignements <br>&<br> Rendez-vous</h1>
  </div>
</div>

<br>


<div class="container">
  <div class="row justify-content-center">

      <div class="soin-card text-center pt-1" style="border-style:none; box-shadow:none">
        <div class="soin-card-body ">
          <p class= "card-text">Pour tout renseignement ou prise de rendez-vous, vous pouvez joindre le cabinet : </p>
        </div>
      </div>

       <div class="col-12 col-lg-12">
        <div class="big-card text-center">
            <p class= "card-text mb-4">Par <strong>TELEPHONE</strong> ou <strong>MESSAGE</strong> (whatsapp ou signal) :</p>

              <ul class = "text-center ul-contact mb-5">+ 41 76 69 06 802</ul>

              <p class= "card-text mb-4"> Par <strong>E-MAIL</strong> :</p>

              <ul class = "text-center ul-contact">info@energies-et-guerison.com</ul>


              <p class="mt-4" style="text-align: left">
              <br><br>Merci de préciser dans votre message :</p>

                <li class= "mt-2 mb-2 retour-ligne-list">votre NOM, PRENOM, NUMERO de téléphone (avec l'indicatif téléphonique de votre pays) </li>

              <p class="mt-4" style="text-align: left">Pour les soins internationaux, seul whatsapp et signal sont utilisés. Les soins sont réalisés sur le fuseau horaire Suisse.

              <br><br>Nous répondrons à votre message au plus vite.
            </p>
        </div>
      </div>



  </div>
</div>



<div class="container ">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">
      <div class="col-12 col-lg-12 ">
          <div class="soin-card-body">
            <h4 class=" card-text">Toutes les données transmises par l’utilisateur sont traitées conformément aux dispositions de la loi fédérale sur la protection des données (LPD).
            </h4>
          </div>
      </div>
    </div>
  </div>
</div>






