<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1>Soins à distance </h1>
  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">

    <div class="soin-cards">



      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin bioénergétique Acmos à distance</h5>
            <%= image_tag 'TAD non flou.jpeg', height: '50px' %>
            <p class="card-text-question">Vous êtes fatigués, stressés, un moral un peu bas <br> ou avez des maux physiques <br> et vous préférez rester chez vous pour le soin? </p>
            <h4>Le soin repose sur le principe de base de la physique quantique :
              <br><br>notre corps matiere est géré par notre corps énergétique. Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.
          <br><br>De même que le soin sur place, le soin à distance repose sur le principe de biorésonance et l'antenne de Lecher est utilisé pour la reception et l'émission des champs énergétiques. En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.
          <br><br> Ce soin agit également dans le profond, au niveau du champ centripète, siège de la cause du symptôme.
            </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h30</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-broadcast-tower"></i></button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
