<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1>Soins à distance </h1>
    <p style="color: white"><i>"L'être vivant ne doit pas se considérer comme une matière animée par de l'énergie : <br>c'est de l'énergie préexistante à la matière qui oriente la matière vers le processus de la vie."</i></p>
  </div>
</div>
<br>
  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">

    <div class="soin-cards">



      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Soin bioénergétique Acmos à distance</h2>
            <%= image_tag 'TAD non flou.jpeg', height: '50px' %>
            <h3 class="card-text-question">Indications </h3>
              <p>En cas de problème ponctuel, voire aigu, le soin donne sa pleine mesure dans une action de rétablir l'équilibre énergétique global afin de remettre en état les facultés d'auto-réparation de l'organisme.
              <br><br>S'adresse à tous, des enfants aux arrières grands-parents.</p>
            <h3 class="card-text-question">Mécanisme d'action </h3>
              <p>Le propos n'est pas d'aborder ici de manière détaillée les principes de la mécanique et médecine quantiques,
                car ils sont d'une très grande complexité sur le plan mathématique et physique, et quelques lignes n'y suffiraient pas. Nous nous limiterons à des concepts très simples et généraux.
                <br><br>Le soin repose sur le principe de base de la physique et résonance quantiques :
                <br><br>notre corps matière est géré par notre corps énergétique.
                Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.
                <br> L'information cellulaire se propage par phénomène de résonance à l'intérieur et à l'extérieur du corps humain. L'information se déplaçant sous forme d'ondes n'est assujettie ni au temps ni à l'espace. Elle peut être transférée instantanément à n'importe quelle distance.
                <br><br>De même que le soin sur place, le soin à distance repose sur le principe de biorésonance et l'antenne de Lecher est utilisé pour la reception et l'émission des champs énergétiques. En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.
                <br><br> Ce soin agit également dans le profond, au niveau du champ centripète, siège de la cause du symptôme.
                <br><br>
                La méthode Acmos permet de capter les informations qui sont en permanence disponibles et présentes, peu importe l'endroit où se trouve la personne afin d'établir son bilan énergétique et de restaurer son équilibre global.
                <br><br> L'accès à ses informations par le biais de la méthode permet :
                  <ul>
                    <li class= " retour-ligne-list">d'apporter des <strong>corrections</strong> ou de prendre des dispositions nécessaires au rétablissement de l'équilibre,</li>
                    <li class= " retour-ligne-list">de mettre des <strong>protections contre les agressions</strong> de l'environnement, géobiologiques, ambiantes, écologiques, humaines...</li>
                    <li class= "retour-ligne-list">et de <strong>débloquer des situations</strong> et résoudre des problèmes dont l'origine est souvent "oubliée": petite enfance, naissance, mémoires héréditaires ou d'antériorité, mémoires des murs..</li>
                  </ul>
              </p>

            <h3 class="card-text-question mb-0 pb-0">Schéma thérapeutique<h3>
               <p><br><br>Souvent notre corps a engramé une façon de fonctionner avec différents blocages. La majorité des personnes qui consultent ont 2 à 3 soins rapprochés en 6 mois. Par la suite, en général, un suivi une à 2 fois par an est suffisant pour maintenir l'équilibre énergétique et être dans la prévention.
              <br><br>Ce schéma thérapeutique est indicatif. Chaque individu a ses propres besoins.
          </div>

          <h3 class="card-text-question mb-4 pb-0">Durée - Tarif<h3>
            <button class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> 1h30</button>
            <div class = "container justify-content-center mt-4 mb-0">
              <button class="button-soin mb-3 ">Adulte <i class="fas fa-coins ml-2 mr-2"></i> 150 CHF</button>
            </div>
            <div class = "container justify-content-center">
              <button class="button-soin  ">Enfant <i class="fas fa-coins ml-2 mr-2"></i> 120 CHF </button>
            </div>
        </div>

        <div class="soin-cards">
        <div class="col-12 col-lg-12 ">
          <div class="soin-card" style="border:none;">
            <div class="soin-card-body">
              <h2 class="card-title text-center pb-0">Déroulement du soin </h2>

              <p class="card-text-question pt-2 pb-0 mb-0">Avant le soin, nous avons besoin :
                <ul class =" ml-2 mt-2"></ul>
                  <li class="ml-4 retour-ligne-list ">d'une photo de la personne ou de l'animal </li>
                  <li class="ml-4 retour-ligne-list" >de sa date de naissance, son prénom et nom (nom de jeune fille), <br> la ville/pays où elle se trouve lors du soin</li>
                  <li class="ml-4 retour-ligne-list">de la liste des médicaments et des compléments alimentaires que vous prenez usuellement </li></p>
              <p class="card-text-question pt-2 pb-0 mb-0">Pendant le soin :
                <ul class ="ml-2 mt-4 "></ul>
                  <li class="ml-4 retour-ligne-list">durée : 1h - profitez de ce moment pour vous détendre, lisez un livre, cuisinez, reposez-vous. </li>
                  <li class="ml-4 retour-ligne-list">être au calme, ne pas être dérangé, ne pas travailler, ni faire de sport, ni être sur le smartphone ou devant un film. </li></p>
              <p class="card-text-question pt-2 pb-0 mb-0">Après le soin :
                <ul class ="ml-2 mt-4"></ul>
                  <li class="ml-4 retour-ligne-list">durée : 10 minutes - explication par téléphone des points travaillés pendant le soin et de ceux à travailler.</li>
                  <li class="ml-4 retour-ligne-list">à noter : seul whatsapp / signal est utilisé - appel à l'international. </li>
                  <li class="ml-4 retour-ligne-list">Félicitations! Après le soin, 60% du travail est réalisé.</li>
                  <li class="ml-4 retour-ligne-list">A partir de maintenant, pour finaliser le traitement (les 40 % restants), il vous faut prendre ce que votre corps a demandé durant le soin </li>
                  <li class="ml-4 retour-ligne-list">pour ce faire, une fiche de suivi vous est délivrée afin de savoir quel(s) produit(s) votre corps a demandé lors du soin. </li>
                  <br>Certains produits peuvent être à prendre dans votre officine (oligoéléments, homéopathie), d'autres auprès d'ACMOS pour <a href="https://www.acmos-sbj.com/phytotherapie-_l_FR_r_53.html">la phytothérapie</a>, <a href="https://www.acmos-sbj.com/filtres-de-couleur-_l_FR_r_49.html"> la chromothérapie</a>, les minéraux, complexes saisonniers <a href="https://www.acmos-sbj.com/complexes-saisonniers-_l_FR_r_69.html"></a> ainsi que les huiles essentielles.  </li>
              </p>
            </div>
          </div>
        </div>
      </div>
        <% end %>
      </div>
    </div>
  </div>
