<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1>Votre thérapeute </h1>

  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="big-cards">

       <div class="col-12 col-lg-12">
        <div class="big-card text-center">
          <div class="big-card-body">
            <h2 class="card-title mt-3"> <strong>Docteur en pharmacie - bioénergéticienne</strong></h2>
              <h3 class="card-text" id="therapeute">Une approche scientifique et énergétique</h3>
              <p><a rel="nofollow">Dr. Georgina Noten</a></p>
              <p class =" card-text mt-5">J'ai depuis ma tendre enfance été sensible à tout ce qui m'entourait.
                <br>J'ai toujours voulu soigner les personnes et les animaux.
                <br>
                ***
                <br>
                Pour ce faire, cartésienne, j'ai tout d'abord suivi un cursus scientifique dans la pharmacie avec l'obtention de <br> mon Doctorat en Pharmacie en 2012.
                <br> <br>
                J'ai travaillé dans des officines, pharmacies de ville, où j'apportais des conseils sur l'observance thérapeutique auprès des patients.
                Puis, j'ai exercé dans les hôpitaux et industries pharmaceutiques tant dans la santé humaine que dans la santé animale où je m'assurais de la qualité des médicaments fabriqués ainsi que de la surveillance des effets indésirables.
                <br><br>

                ***
                <br>
                En parallèle de cela, des expériences de vie chevauchent mon chemin et éveillent mes capacités de récepteur énergétique que j'avais depuis mon plus jeune âge. Je pouvais soulager des maux à distance.
                <br><br>
                Une lumière, une évidence, une prise de conscience m'envahissent.
                <br>

              <h2 class ="card-title-middle">  ***
                <br><br>
                Ma mision de vie est alors limpide :
                <br><br>
                permettre d'aider les gens à retrouver leurs facultés d'autogestion de leur santé

                <br><br> ***
              </h2>

              <p>J'obtins le Diplôme International de Bioénergéticienne et reçus des enseignements de thérapeutes et guérisseurs.</p>

                ***
                <br>
                <p>Depuis, un nouveau chemin se dessine et fait sens. <br>Les soins des patients, les accompagnements de coaching sont tous plus puissants les uns que les autres,
                  <br>je créée des vidéos pour accompagner les gens, des formations en présentielles et en ligne, <br>les synchronicités et les rencontres s’enchaînent… <br>Ma vie change radicalement.
                <br><br>
                  ***
                <br>Je suis pleine de gratitude envers la vie et auprès des patients qui me consultent
                  sur des pathologies où la médecine traditionnelle seule n'a pas forcément de solution.
                <br><br>
                Les soins sont dispensés aussi bien en Suisse qu'à l'étranger via les soins à distance.
                <br>
                <br>
              </p>

              <h6>* Les soins ne remplacent pas un suivi médical et ne se substituent pas non plus à un traitement prescrit par un médecin. </h6>

          </div>
        </div>
      </div>




    </div>
  </div>
</div>

<div class = "container justify-content-center">
  <button class="button mt-3 mb-4" type="submit"><%= link_to "Contact", contact_path %></button>
</div>




