<div class="container justify-content-center pt-5 mb-5 mt-5">
    <h1>Actualitées</h1>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">

            <div class="soin-card-body">
              <h5 class="card-title">Concert sonothérapeutique en plein air</h5>
              <p class="card-text">Un moment d'évasion et de reconnexion avec ces sens</p>
              <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
              Quête de vision par la reconnection avec la nature</p>
              <p>Tarif : 25CHF </p>
              <p>Durée : 2h</p>
            </div>
        </div>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">

            <div class="soin-card-body">
              <h5 class="card-title">Concert sonothérapeutique en refuge</h5>
              <p class="card-text">Réancrez-vous pour reprendre le chemin de votre vie</p>
              <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
              Rencontrer et partager avec des personnes éveillées aux énergies</p>
              <p>Tarif comprenant une collation : 80CHF </p>
              <p>Durée: 2h </p>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

