<div class="container justify-content-center pt-5 mb-5 mt-5">
  <div class="container-title justify-content-center">
    <h1><i class="fas fa-feather-alt mr-4"></i> Consolidation <i class="fas fa-feather-alt ml-4"></i></h1>
  </div>
</div>


<div class="container mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h5 class="card-title">Retraite de régénérescence </h5>
             <%= image_tag 'enfant_hypersensibilite.jpeg', height: '100px' %>
            <p class="card-text-question">Vous avez suivi une partie du programme "Rennaissance" ou avez fait un burnout dans le passé ?</p>
            <h4>La consolidation va vous permettre de renforcer votre capacité à transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force.
              <br><br>Le but de cette retraite est de :
              <li class="ml-2">Découvrir sous un autre angle les outils de l'hypersensible</li>
              <li class="ml-2">Développer une capacité de connection-ressource avec la nature et son corps</li>
              <li class="ml-2">Ressentir la puissance qu'il se dégage d'une communauté d'hypersensibles</li></h4>
                      <h4>La retraite se déroule dans un espace au coeur de la nature, avec un programme permettant une osmose entre l'alimentation, le repos, le mouvement et l'échange.</h4>
          </div>
         <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 2 jours : pension </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 450 CHF séminaires, pension</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> Le temps de revivre </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Avril 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i> 7 personnes maximum</button>
          </div>
        </div>
        <% end %>
      </div>

       <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h5 class="card-title">Retraite de régénérescence approfondie </h5>
             <%= image_tag 'enfant_hypersensibilite.jpeg', height: '100px' %>
            <p class="card-text-question">Vous avez suivi une partie du programme "Rennaissance" ou avez fait un burnout dans le passé ?</p>
            <h4>La consolidation va vous permettre de renforcer votre capacité à transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force.
              <br><br>Le but de cette retraite est de :
              <li class="ml-2">Découvrir sous un autre angle les outils de l'hypersensible</li>
              <li class="ml-2">Développer une capacité de connection-ressource avec la nature et son corps</li>
              <li class="ml-2">Ressentir la puissance qu'il se dégage d'une communauté d'hypersensibles</li>
              <li class="ml-2">Faire connaissance avec les dons qui sont en vous</li>
              <li class="ml-2">Accueillir ses dons</li>
            </h4>
            <h4>La retraite se déroule dans un espace au coeur de la nature, avec un programme permettant une osmose entre l'alimentation, le repos, le mouvement et l'échange.</h4>
          </div>
         <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 5 jours : pension </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 1200 CHF séminaires, pension</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> Le temps de revivre </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Juin 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i> 7 personnes maximum</button>
          </div>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>



