
.banner{
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  padding-top: 75px;
  opacity: .8;

}

.banner h1 {
  color: white;
  font-size: 70px;
  font-weight: 600;
}

.banner p{
  font-size: 30px;
  color:  #FCFF33;
  margin-bottom: 50px;
  font-weight: 550;
  font-family: $headers-font;
  font-style: italic;
}



.banner-flex {
  display: flex;
  flex-direction: column;
}

.banner-flex h3{
  color: white;
}

.banner_middle{
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  padding-top: 75px;
  opacity: .8;
  border-radius: 8px;
}

#t {
  color: #33FFF6 ;
  text-shadow:
  #FCFF33 -1px 1px,
}

#e {
  color: #FF33E0;
  text-shadow:
   #FCFF33 -2px 1px,
}

#r1 {
  color: #33FF9F  ;
    text-shadow:
   #FCFF33 -2px 1px,
}

#r2 {
  color: #FF33E0 ;
    text-shadow:
   #FCFF33 -2px 1px,
}

#e2 {
  color: #FCFF33;
    text-shadow:
   #FCFF33 -2px 1px,
}

#apo {
  color: #33FF52;
    text-shadow:
   #FCFF33 -2px 1px,
}

#h  {
  color: #33FFF6;
    text-shadow:
   #FCFF33 -2px 1px,
}

#a {
  color: #FF33E0 ;
    text-shadow:
   #FCFF33 -2px 1px,
}

#p1 {
  color: #4CFF33 ;
    text-shadow:
   #FCFF33 -2px 1px,
}
#p2 {
  color:#FF33E0;
    text-shadow:
   #FCFF33 -2px 1px,
}
#y {
  color:#FCFF33;
    text-shadow:
   #FCFF33 -2px 1px,
}
