.button {
  background-color: $turquoise;
  color: $middle_gray;
  padding: 10px 28px;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: none;
  font-size: 16px;
  font-weight: normal;

  &:hover {
  color: white;
  }

}


.button-soin {
  background-color: $turquoise;
  opacity: 0.45;
  color: $middle_gray;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: none;
  font-size: 16px;
  font-weight: normal;

}
