.button {
  background-color: $turquoise;
  color: $middle_gray;

  &:hover {
  color: white;
  }
}

.button {
color: $middle_gray;
padding: 15px 25px;
border-radius: 10px;
font-weight: bold;
background: $turquoise;
transition: background 0.3s ease;
border: none;
font-size: 16px;
font-weight: normal;
}

.little_button {
color: $middle_gray;
padding: 5px 15px;
border-radius: 10px;
font-weight: bold;
background: $turquoise;
transition: background 0.3s ease;
border: none;
font-size: 16px;
font-weight: normal;
}
