
.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px auto 50px;
}



.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
  padding: 30px;
  width: 300px;
}


.card img {
  height: 100px;
  border-radius: 4px;
}

.card-text {
  padding-top: 17px;
}

.card-text-question {
  font-weight: 505;
  font-size: 18px;
  opacity: 0.6;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  color: $violet-light;
}


.big-cards  {
  flex-basis: 100%;
}

.big-card {
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  padding: 30px;
  width: 100%;
  background-color: white;
  color: $middle-gray;
}

.big-card-body p {
  color: $middle-gray;
}

.big-cards  {
  flex-basis: 100%;
}


.soin-card {
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  padding: 30px;
  padding-bottom: 0px;
  width: 100%;
  background-color: white;
  color: $middle-gray;
  margin-bottom: 25px;

  &:hover {
  border-radius: 8px;
  border: 1px solid $violet-light;
  }
}

.soin-card-body {
  padding-top: 7px;
}

.soin-card-body p {
  color: $middle-gray;
}


.soin-cards  {
  flex-basis: 100%;
}


.sous-titre {
  background-color: $violet;
  opacity: 0.5;
  flex-basis: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  padding: 20px;
  width: 100%;
  color: white;
  margin-bottom: 15px;
  margin-top: 65px;
  padding-left: 25px;
}

.sous-titre-light {
  background-color: $violet;
  opacity: 0.4;
  flex-basis: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  padding: 10px;
  width: 100%;
  color: white;
  margin-bottom: 10px;
  margin-top: 80px;
}

.sous-titre-light h2
{
   font-size: 30px;
   font-weight: 550;
   line-height: 24px;
   color:#fff;
  font-style: italic;
  text-align: center;
}

