.footer {
  background-color: $turquoise;
  background-position: center;
  opacity: .7;
}

.footer_line {
  background-color: #DCB669;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-container-contact-product {
  display: flex;
  justify-content: space-around;
}

.copyright {
  display: flex;
  justify-content: center;
}
