.footer {
  background-color: $turquoise;
  background-position: center;
  opacity: 1;

}

.border-color {
  border-color: $violet-light !important;
}


.footer_line {
  background: linear-gradient($violet, $turquoise);
  opacity: 0.9;
  height: 10px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  opacity: 0.8;
}
.footer-container-contact-product {
  display: flex;
  justify-content: space-around;
}

.column-footer {
  margin-left: 200px;
}

.footer-heading {
    letter-spacing: 2px;
}

.footer-heading {
    position: relative;
    padding-bottom: 7px;
}

.footer-heading:after {
    content: '';
    width: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid $violet-light;
}


/*test*/


.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}







