.footer {
  background-color: $turquoise;
  background-position: center;
  opacity: 1;

}

.border-color {
  border-color: $violet-light !important;
}


.footer_line {
  background: linear-gradient($violet, $turquoise);
  opacity: 0.9;
  height: 10px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-container-contact-product {
  display: flex;
  justify-content: space-around;
}

.copyright {
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.column-footer {
  margin-left: 200px;
}

.border {
  width: 80px;
  border: 2 px;
}


