.navbar {
  justify-content: space-between;
  padding-top: 0px;
}

.navbar-collapse {
 background: $turquoise;
 width: 100px;
}

.navbar .navbar-brand img {
  width: 100px;
}

.navbar a {
    color: $middle-gray;
     &:hover {
    background-color: white;
  }
}


.droite {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
