
/*3ème navbar semi responsive sans le burger qui se deroule*/


@media screen and (max-width:2000px) {
  @keyframes checked-anim {
      100% {
          width: 18%;
          height: 60%;
          border-radius: 8px;
      }
}
}

@media screen and (max-width:1030px) {
  /*Ipad pro*/
  @keyframes checked-anim {
      100% {
          width: 30%;
          height: 35%;
          border-radius: 8px;
      }
}
}

@media screen and (max-width:890px) {
  /*Ipad 768*/
  @keyframes checked-anim {
      100% {
          width: 40%;
          height: 50%;
          border-radius: 8px;
      }
}
}

@media screen and (max-width:450px) {
  /*Iphone 6S, Plus X, Samsung G S5*/
  @keyframes checked-anim {
      100% {
          width: 68%;
          height: 72%;
          border-radius: 8px;
      }
}
}
@keyframes not-checked-anim {
    0% {
        width: 80px;
        height: 80px;
    }
}

/*ce qui décale tout*/
 #menu li, a {
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 500;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}
/*ce qui décale tout dans li, a
 margin: 75px 0 -55px 0;
 font-weight: 550;

 Mais c'est 2 trucs permettent d avoir un beau menu lateral
 */

/* les  li de contact n apparaissent plus à cause du li,a
 */
#menu li {
  width: 230px;
  text-indent: 56px;
}

#menu {
  line-height: 1.8;
}

#menu a:focus {
  display: block;
  transition: all .5s;
}

aside {
  position: absolute;
  color: white;
  top: 35%;
  right: 10%;
  text-align: right;
}


#trigger, #burger, #burger:before, #burger:after {
  z-index: 2;
  position: absolute;
  top: 25px;
  left: 25px;
  background: $turquoise;
  border-radius: 8px;
  width: 30px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
}

#trigger {
  height: 25px;
  background: none;
}
#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}
#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}
#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu {
  z-index: 1;
  position: absolute;
  margin: 0; padding: 0;
  width: 90px;
  height: 80px;
  background-color: $violet-light;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  animation: not-checked-anim .2s both;
  transition: .2s;

  #distance{
  width: 100%;
  animation: not-checked-anim .1s both;
  transition: .1s;
  }
}
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
  display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}


/* première navbar
.navbar {
  justify-content: space-between;
  padding: 0px;
  height: 40px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}


body {
   z-index: 1;
}


.navbar-brand {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-collapse {
  background: $violet-light;
  width: 100px;
}



.navbar .navbar-brand img {
  width: 100px;
}

.navbar-brand a {
  font-size: 19px;
  font-weight: 550;
  font-family: $headers-font;
}

.navbar a {
  &:hover {
  background-color: white;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $turquoise;
  font-size: 19px;
  font-weight: 550;
  font-family: $headers-font;
   &:hover {
  color:  #40E0D0;
  text-shadow:
$violet-light 0.5px 0.5px,

  }
}

.droite {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.navbar-light .navbar-brand {

    color: $violet;
    &:hover {
  color:  #40E0D0;
  text-shadow:
  $violet-light 0.5px 0.5px,

  }
}

*/


/* 2ème navbar semi responsive sans le burger qui se deroule
*{
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: $violet;
  opacity: 0.8;
  padding-top: 12px;

}

.logo{
  background-color: $violet;

  letter-spacing: 2px;
  font-size: 19px;
  font-family: $headers-font;
  text-transform: uppercase;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: $turquoise;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 550;
  &:hover {
  color:  white;
  text-shadow:
$violet-light 0.5px 0.5px,
  }
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: $turquoise;
  border-radius: 8px;
  margin: 5px;
}

@media screen and (max-width:1600px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width:1400px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width:1021px) {
  .nav-links {
    width: 80%;
  }
}

@media screen and (max-width:890px) {
  body{
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5sec ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }


  @keyframes checked-anim {
      50% {
          width: 3000px;
          height: 3000px;
      }
      100% {
          width: 100%;
          height: 100%;
          border-radius: 0;
      }
  }
  @keyframes not-checked-anim {
      0% {
          width: 3000px;
          height: 3000px;
      }
  }
}

*/


