.navbar {
  justify-content: space-between;
}

.navbar-collapse {
 background: $turquoise;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar a {
    color: $middle-gray;
     &:hover {
    color: black;
  }
}

