a {
  text-decoration: none !important;
  color: $gray;

  &:hover {
  color: $middle_gray;
  }
}


h1  {
  color: white;
  font-size: 45px;
  font-style: $gold;
}

p, h4, h5 {
  color: $middle-gray;
}

h2 {
  color: $gray;
}


