h1  {
  color: white;
  font-size: 45px;
}

h2 {
  color: white;
  font: $body-font;
  font-size: 27px !important;
}


h3 {
  color: $middle-gray;
}

h4{
  text-decoration: none !important;
  color: $middle-gray;
  font-size: 18px !important;
}

h5 {
  color: $middle-gray;
}

h6 {
  color: $middle-gray;
  font-family: $body-font !important;
}

p {
  color: $middle-gray;
}

p {
  font-size: 18px;
  font-weight: 510px;
  font-family: $headers-font !important;

}

a {
  text-decoration: none !important;
  color: $middle-gray !important;
  font-family: $body-font !important;
  letter-spacing: 0px;

  &:hover {
  color: $violet-light !important;
  }
}


#menu a {
  text-decoration: none !important;
  color: $turquoise !important;
  font-family: $headers-font !important;
  font-weight: bold;
  letter-spacing: 1,9px;

  &:hover {
  color: white !important;
  }
}

/*therapeute page*/
#therapeute {
  color: $middle-gray ;
}

/*contact page*/
.ul-contact {
  font-size:30px;
  color: $violet-light;
}

.no-bullet {
  list-style: none;
}

.retour-ligne-list {
  text-align: left;
  list-style: disc inside;
}

ul.retour-ligne-list {
  margin: 1em 0 0 0;
  padding: 0;

}

li.retour-ligne-list {
  padding: 1.9px 5px 5px 2px;
  margin:0 0 0 10px;
}


ul, li{
  font-size: 18px;
  font-family: $headers-font;
}



