a {
  text-decoration: none !important;
  color: $gray;

  &:hover {
  color: $violet;
  }
}


h1  {
  color: white;
  font-size: 45px;
}

p, h5 {
  color: $middle-gray;
}

p {
  font-size: 18px;
  font-weight: 510px;
}

h2 {
  color: $gray;
}

h4{
    text-decoration: none !important;
    color: $violet-light;
}

