<div class="container">

  <div class="container mb-5 ">
    <div class="row justify-content-center pt-4 pb-4">
      <div class="col-12 col-lg-8">
         <!-- div carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="images/cabinet" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


        <div class="card text-center">
          <h1>Institut Combi'Thérapies</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="cards">

        <div class="col-12 col-lg-4">
          <div class="card text-center">

              <img src="images/cabinet.jpeg" class="card-img-top" alt="cabinet">
                <div class="card-body">
                <h5 class="card-title"><%= link_to "Soins", soins_path %></h5>
                <p class="card-text">Combi-Thérapies vous propose une thérapie multifacorielle combinant des soins sur place et à distance</p>
                </div>

          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card text-center">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Ateliers", ateliers_path %></h5>
                <p class="card-text">Combi_thérapies propose des ateliers pour enfants, adultes, cadres en entreprises.</p>
              </div>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card text-center">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Actualités", actus_path %></h5>
                <p class="card-text">Combi-thérapies met à disposition des videos, articles pour vous accompagner au quotidien. Dans les actualités, vous pouvez aussi retrouver les événements</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



